<%= link_to "Home", root_path, :class => 'brand' %>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="#" class="brand">Scrap IT Jobs</a>
      <ul class="pull-right nav">

          <!-- <li><%= link_to('Search', home_search_path)  %></li> -->
          <li><a href="https://github.com/bainf" class="github" class="active">GitHub Repository</a></li>
          <li><a href="https://facebook.com/bainf" class="facebook">Facebook</a></li>
          <li><a href="http://twitter.com/bainf_twit" class="twitter">Twitter</a></li>
          <li><a href="http://tech.pro/bainf " class="twitter">Blog</a></li>

      </ul>
    </div>
  </div>
</div>